<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BiometricoWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <!-- GENERALES CONFIGURATIONS -->
    <add key="SQLServer" value="Server=localhost;Database=Biometrico;User Id=sa;Password=sa;" />
    <!--<add key="SQLServer" value="Server=10.128.0.68;Database=Biometrico;User Id=webapps;Password=webapps2019*;" />-->
    <add key="Host" value="http://10.128.0.149:1001" />
    <add key="RUTA_SERVER" value="E:/htdocs/Biometrico/Carga"/>
    <!--<add key="RUTA_SERVER" value="C:/httdocs/Biometrico/Carga"/>-->
    <!-- EMAIL CONFIGURATIONS -->
    <add key="SmtpServer" value="smtp.adbancat.hn" />
    <add key="SmtpPort" value="25" />
    <add key="SmtpFrom" value="reportes@bancatlan.hn" />
    <add key="RHMail" value="egutierrez@bancatlan.hn" />
    <add key="TokenPass" value="Eme.IA+" />
    <add key="TokenWord" value="Inf@tl@n123" />
    
    <!-- SAP CONFIGURATIONS -->
    <add key="SapUsername" value="WSHCMINFATL" />
    <add key="SapPassword" value="Wshcm2019*" />
    <add key="SapDateInicio" value="2014-01-01" />
    <add key="SapDateFinal" value="2050-01-01" />
    <add key="SapCodigoEmpresa" value="9000" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2" maxRequestLength="204800" executionTimeout="1800"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <BiometricoWeb.Properties.Settings>
      <setting name="BiometricoWeb_SapServicesH_ZWS_HR_VACACIONES"
        serializeAs="String">
        <value>http://10.128.2.22:8000/sap/bc/srt/rfc/sap/zws_hr_vacaciones/300/zws_hr_vacaciones/zws_hr_vacaciones</value>
      </setting>
      <setting name="BiometricoWeb_SapServicesP_ZWS_HR_SetData" serializeAs="String">
        <value>http://10.128.2.22:8000/sap/bc/srt/rfc/sap/zws_hr_setdata/300/zws_hr_setdata/zws_hr_setdata</value>
      </setting>
    </BiometricoWeb.Properties.Settings>
  </applicationSettings>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <dependentAssembly>
      <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
      <bindingRedirect oldVersion="0.0.0.0-0.85.4.369" newVersion="0.85.4.369" />
    </dependentAssembly>
  </assemblyBinding>

</configuration>
