<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BiometricoWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <!-- GENERALES CONFIGURATIONS -->
    <!--<add key="SQLServer" value="Server=localhost;Database=Biometrico;User Id=sa;Password=sa;" />-->
    <add key="SQLServer" value="Server=10.128.0.68;Database=Biometrico;User Id=webapps;Password=webapps2019*;" />
    <add key="Host" value="http://10.128.0.149:1001" />
    <add key="RUTA_SERVER" value="E:/htdocs/Biometrico/Carga" />
    <add key="RUTA_SERVER_LOCAL" value="C:/Users/wpadilla/source/repos/danielhn84/Infatlan_Biometrico/BiometricoWeb/Carga" />
    <!--<add key="RUTA_SERVER_DOCS" value="E:/htdocs/BiometricoDev/Carga/repositorio/"/>-->
    <add key="RUTA_SERVER_DOCS" value="E:/htdocs/Biometrico/Carga/repositorio/"/>
    <add key="RUTA_SERVER_DOCS_LOCAL" value="C:/Users/wpadilla/source/repos/danielhn84/Infatlan_Biometrico/BiometricoWeb/Carga/repositorio/" />
    <add key="SQLServerSysAid" value="Server=150.150.60.21;Database=SysAid;User Id=PBI;Password=sw5tdTfxKNNjDZyg;" />
    <add key="SQLServerLocalidad" value="Server=10.128.0.68;Database=STEI;User Id=muleServer;Password=mule2019;" />
    
    <!-- EMAIL CONFIGURATIONS -->
    <add key="SmtpServer" value="smtp.adbancat.hn" />
    <add key="SmtpPort" value="25" />
    <add key="SmtpFrom" value="reportes@bancatlan.hn" />
    <add key="SmtpFromDev" value="gcruz@bancatlan.hn" />
    <add key="RHMail" value="egutierrez@bancatlan.hn" />
    <add key="TokenPass" value="Eme.IA+" />
    <add key="TokenWord" value="Inf@tl@n123" />
    <add key="TOKEN_DOC" value="Inf@t1an2020..HN*" />
    
    <!-- SAP CONFIGURATIONS -->
    <add key="SapUsername" value="WSHCMINFATL" />
    <add key="SapPassword" value="Wshcm2019*" />
    <add key="SapDateInicio" value="2014-01-01" />
    <add key="SapDateFinal" value="2050-01-01" />
    <add key="SapCodigoEmpresa" value="9000" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" maxRequestLength="204800" executionTimeout="1800" />
    <sessionState timeout="60"></sessionState>
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ZWS_RH_CONS_CAPAC_INF2" />
        <binding name="ZWS_RH_CONS_CAPAC_INF21" />
        <binding name="ZWS_RH_CONS_CAPAC_INF22" />
      </basicHttpBinding>
      <customBinding>
        <binding name="ZWS_RH_CONS_CAPAC_INF2_soap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="ZWS_RH_CONS_CAPAC_INF2_soap121">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="ZWS_RH_CONS_CAPAC_INF2_soap122">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://150.150.6.142:8000/sap/bc/srt/rfc/sap/zws_hr_cons_capac_inf2/101/zws_rh_cons_capac_inf2/zws_rh_cons_capac_inf2"
        binding="basicHttpBinding" bindingConfiguration="ZWS_RH_CONS_CAPAC_INF22"
        contract="ServiceReference1.ZWS_HR_CONS_CAPAC_INF2" name="ZWS_RH_CONS_CAPAC_INF22" />
      <endpoint address="http://150.150.6.142:8000/sap/bc/srt/rfc/sap/zws_hr_cons_capac_inf2/101/zws_rh_cons_capac_inf2/zws_rh_cons_capac_inf2"
        binding="customBinding" bindingConfiguration="ZWS_RH_CONS_CAPAC_INF2_soap122"
        contract="ServiceReference1.ZWS_HR_CONS_CAPAC_INF2" name="ZWS_RH_CONS_CAPAC_INF2_soap122" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <BiometricoWeb.Properties.Settings>
      <setting name="BiometricoWeb_SapServicesH_ZWS_HR_VACACIONES"
        serializeAs="String">
        <value>http://10.128.2.22:8000/sap/bc/srt/rfc/sap/zws_hr_vacaciones/300/zws_hr_vacaciones/zws_hr_vacaciones</value>
      </setting>
      <setting name="BiometricoWeb_SapServicesP_ZWS_HR_SetData" serializeAs="String">
        <value>http://10.128.2.22:8000/sap/bc/srt/rfc/sap/zws_hr_setdata/300/zws_hr_setdata/zws_hr_setdata</value>
      </setting>
      <setting name="BiometricoWeb_ReportExecutionService_ReportExecutionService"
        serializeAs="String">
        <value>http://10.128.0.52:80/ReportServer/ReportExecution2005.asmx</value>
      </setting>
      <setting name="BiometricoWeb_SapServiceC_ZWS_HR_SER_INF" serializeAs="String">
        <value>http://s4hprd-mgmt.bancatlan.hn:8000/sap/bc/srt/rfc/sap/zws_hr_ser_inf/300/zws_hr_ser_inf/zws_hr_ser_inf</value>
      </setting>
      <setting name="BiometricoWeb_SapServiceC_ZWS_CONS_CAPAC_INF2"
        serializeAs="String">
        <value>http://s4hprd-mgmt.bancatlan.hn:8000/sap/bc/srt/rfc/sap/zws_hr_cons_capac_inf2/300/zws_cons_capac_inf2/zws_cons_capac_inf2</value>
      </setting>
    </BiometricoWeb.Properties.Settings>
  </applicationSettings>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <dependentAssembly>
      <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
      <bindingRedirect oldVersion="0.0.0.0-0.85.4.369" newVersion="0.85.4.369" />
    </dependentAssembly>
  </assemblyBinding>

  <!--codigo de ana vulnerabilidades-->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />

    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <remove name="X-Content-Type-Options"/>
        <add name="X-Content-Type-Options" value="nosniff" />
      </customHeaders>
    </httpProtocol>

    <staticContent>
      <remove fileExtension=".br" />
      <mimeMap fileExtension=".br" mimeType="application/brotli" />
      <!-- IIS doesn't set the right charset for text types -->
      <remove fileExtension=".css"/>
      <mimeMap fileExtension=".css" mimeType="text/css; charset=utf-8"/>
      <remove fileExtension=".html" />
      <mimeMap fileExtension=".html" mimeType="text/html; charset=utf-8" />
      <remove fileExtension=".js"/>
      <mimeMap fileExtension=".js" mimeType="text/javascript; charset=utf-8"/>
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/json; charset=utf-8"/>
      <remove fileExtension=".svg"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml; charset=utf-8"/>
      <remove fileExtension=".txt" />
      <mimeMap fileExtension=".txt" mimeType="text/plain; charset=utf-8" />
      <remove fileExtension=".xml"/>
      <mimeMap fileExtension=".xml" mimeType="text/xml; charset=utf-8"/>
      <remove fileExtension=".webmanifest"/>
      <mimeMap fileExtension="webmanifest" mimeType="application/manifest+json; charset=utf-8"/>
      <!-- font types -->
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="font/woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="font/woff2"/>
    </staticContent>
  </system.webServer>
  <!--fin-->
</configuration>
