<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="SQLServer" value="Server=localhost;Database=Biometrico;User Id=sa;Password=sa;"/>
      <add key="ProcesoNormal" value="false" />
      <add key="EliminarBiometrico" value="false" />
      <add key="TestServicio" value="true" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>